.container-pagar-acordo-inteiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: 100%;
    height: 16rem;
    margin-top: 3rem;
    padding: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1em;
}
.box-title-pagar-acordo {
    width: 99%;
}
.box-infos-pagar-contrato-inteiro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}
.box-btn-pagar-acordo-inteiro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}