.loader {
    width: 80px;
    height: 20px;
    text-align: center;
    font-size: 0;
  }
  
  .dot {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
    border-radius: 50%;
    background-color: yellow;
    animation: loader-animation 1s infinite;
  }
  
  .dot-1 {
    animation-delay: 0s;
  }
  
  .dot-2 {
    animation-delay: 0.2s;
  }
  
  .dot-3 {
    animation-delay: 0.4s;
  }
  
  @keyframes loader-animation {
    0%,
    40%,
    100% {
      opacity: 0.5;
      transform: scale(0.5);
    }
    20% {
      opacity: 1;
      transform: scale(1);
    }
  }
  