.container-perguntas {
    height: auto;
}
.scream-perguntas {
    display: flex;

    gap: 3rem;
    padding-top: 7rem;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
    max-height: auto;
}
.container-video-perguntas {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
    height: 80vh;
    width: 50%;
}
.container-title-perguntas {
    display: flex;

    width: 100%;
    margin-bottom: 0.5em;
    justify-content: end;
    gap: 1.5em;
    align-items: center;
  
}

#img-bees {
    width: 10em;
  
}

.container-title-perguntas h1 {
    font-size: 2.7em;
   
}
.box-video {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius:  1rem 1rem 1rem 1rem;
   
}
.container-text-perguntas {
    display: flex;

    flex-direction: column;
    width: 65%;
    height: auto;
}
.container-text-perguntas h1 {
    font-size: 2em;
    margin-bottom: 1em;
}
.title-perguntas{
    display: flex;
    margin-bottom: 1em;
    border-bottom: 0.02rem solid  #424242;
    justify-content: space-between;
    align-items: center;
}
.box-perguntas {
    margin-bottom: 1em;
}
.title-perguntas p{
    font-size: 1.3em;
    font-weight: bold;
    color: rgba(0,0,0,0.9);
    cursor: pointer;

}
.title-perguntas img {
    width: 1.3em;
    height: 1em;
    cursor: pointer;
}