.sucesso.center {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  justify-content: center;
  align-items: center;
}

.sucesso.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  gap: 4em;
}
.sucesso.checked {
  display: flex;
  width: 10em;
  height: 10em;
}

.sucesso.green {
  color: #008000;
}
.sucesso.bee {
  width: 16em;
  transform: translateY(-40%);
  z-index: -999;
}
.sucesso.bee img {
  width: 110%;
  height: 110%;
  transform: scaleX(-1);
}

.sucesso.line {
  background-color: #ffffcc;
  height: 3em;
  width: 100vw;
}

.sucesso.line.top {
  transform: translate(-76vw, 3.5em);
  background-color: red;
}
.sucesso.line.mid-up {
  transform: translate(-76vw, 5em);
}
.sucesso.line.mid-up {
  transform: translate(-76vw, 5em);
}
.sucesso.line.bottom {
  transform: translate(-76vw, 7em);
}

