.container-home {
  height: auto;
}
.scream-busca-cpf {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2.5rem;

  height: 80vh;
}
.container-title {
  display: flex;

  flex-direction: column;

  justify-content: space-between;
  align-items: center;

  width: 50rem;
  height: 9rem;

  margin-top: 6rem;
}
.container-title h1 {
  font-size: 4rem;
}
.container-title h3 {
  font-size: 2.1rem;
}
.container-busca-cpf {
  display: flex;

  flex-direction: column;

  width: 53rem;
  height: 10rem;

  justify-content: space-between;
  align-items: center;
}
.container-busca-cpf h5 {
  font-size: 1.3em;
}
.container-busca-cpf p,
.box-radio label,
.container-title-beneficios p {
  font-size: 1.3em;
  color: #424242;
}
.container-radio-home {
  display: flex;

  width: 35%;
  z-index: 0;

  justify-content: space-between;
}

#myRadio2[type="radio"] {
  display: none;
}
#myRadio[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  padding-left: 1.3em;
  cursor: pointer;
  
}

input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.8em; 
  height: 0.8em; 
  border-radius: 50%;
  border: 1px solid #0c0c0c; 
  background-color: #fff; 
}

input[type="radio"]:checked + label:before {
  background-color:#424242; 
}
.box-radio {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 0.6em;
}
.box-radio input {
  width: 1.2em;
  height: 1.2em;
}
.container-input-home {
  display: flex;

  gap: 0.5em;

  width: 52em;
  height: 2.5em;
}
.container-input-home input {
  all: unset;

  border-radius: 1.4em;

  width: 50em;
  height: 2.5em;

  font-size: 1.1em;
  color: #424242;

  padding-left: 1em;

  background-color: rgba(0, 0, 0, 0.05);
}
.box-lupa {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 2.8em;
  border-radius: 50%;
  background-color: #424242;

  cursor: pointer;
}
#lupa-icon {
  width: 1.2em;
  height: 1.2em;
}
.scream-beneficios {
  display: flex;

  flex-direction: column;

  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
.scream-beneficios h2 {
  font-size: 2.5em;
}
.container-title-beneficios {
  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 53em;
  height: 1.5em;
}
.container-total-beneficios {
  display: flex;

  gap: 3em;
}
.container-infos-beneficios {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  width: 40em;
  height: 18em;
}
.container-btns-carrousel {
  display: flex;

  justify-content: space-between;
  width: 7em;
}
#btn-beneficios {
  all: unset;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 3em;
  height: 3em;

  border-radius: 50%;

  background-color: #000000;
  cursor: pointer;
}
#img-beneficios {
  height: 18em;
  width: 30em;
}
.btn-title-beneficios {
  all: unset;
  cursor: pointer;

  font-size: 1.2em;
  color: #424242;
}
#img-arrow-rigth-beneficios {
  width: 1.2em;
  height: 1.2em;
}

