.money-display-container {
  display: flex;
  align-items: center;
  padding: 0 5em;
}

.money-display-container.disabled {
  background-color: #e6e6e6;
  border-radius: 0.5em;
  color: gray;
  user-select: none;
}
