.container_pagamento_parcelas{
    display: flex;
    flex-direction: column;
}

.total_parcelas_atrasada{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tabela_div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.titulo_container{
    color: rgba(0,0,0,0.9);
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: 2rem;
}
.valor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.titulo__{
    color: #424242;
    font-family: "Work Sans";
    font-size: 16px;
    letter-spacing: 0.1px;
    line-height: 24px;
}
.valor_parcela{
    color: rgba(0,0,0,0.9);
    font-family: Barlow;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.container_lista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}