.container-req {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box-carregamento {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
.box-carregamento img {
    height: 6rem;
    width: 5rem;
}

