.container-req {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5em;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.box-carregamento {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
}
.box-carregamento img {
    height: 6rem;
    width: 5rem;
}
.box-loader-img {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
