.black-button-container {
  display: flex;
}
.black-button {
  all: unset;
  display: flex;
  padding: 0.8em;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 15.5em;
  font-size: 0.9rem;
  border-radius: 2em;
  color: aliceblue;
  cursor: pointer;
}
